body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
}
.my-name-color{
    color: red;
}
section{

   display: flex;
   margin-bottom: 100px;
}
.half-width{
    width: 50%;
    margin-left: 5%;
}
.half-width img {
    width: 85%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato,red);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
    color: azure;

}
.gape{
    padding-bottom: 2px;
}
.top-banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}
.about-me{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}